body {
    font-family: Arial, Verdana;
    padding: 30px
}

.container {
    width: 100%;
}

label {
    margin-bottom: 0;
}

.row {
    margin-bottom: 10px;
}

tr.ticket {
    background-color: #eff2f7;
}

tr.total {
    border-color: #9fa1a3;
    background-color: #dbdcdd;
}

.entryDetail, .entryDetailHide {
    cursor: pointer;
}